.features {
    display: grid;
    /* repeat(veces, cosa) */
    /* tamaño fracciones */
    /* fracción fracción */
    grid-template-columns: 450px 1fr;
}

article {
    background: lightgreen;
    border: black solid 2px;
    width: 400px;
    height: 250px;
    margin: 10px;
    text-align: center;
    font-size: 20px;
}

.a {
    background: darkgreen;
    color: white;
}

.b {
    background: white;
}

.c {
    background: lightyellow;
}

.d {
    background: darkblue;
    color: white;
}

.item1 {
    grid-area: header;
}

.item2 {
    grid-area: menu;
}

.item3 {
    grid-area: main;
}

.item4 {
    grid-area: right;
}

.item5 {
    grid-area: footer;
}

.grid-container {
    display: grid;
    background: lightcoral;
    padding: 10px;
    gap: 10px;
    grid-template-areas: 
        'header header header header'
        'main main right menu'
        'footer footer footer footer';
}

.grid-container > div {
    background: lightpink;
    text-align: center;
    font-size: 15px;
    height: 200PX;
}